{% extends 'VictoireCoreBundle:Widget:new.html.twig' %}
{% block form_static %}
    <div id="picker-{{ form.mode.vars.data }}" class="vic-tab-pane vic-active">
        {{ form_start(form) }}
            <div class="vic-row">
                <div class="vic-col-md-6">
                    {{ form_row(form.layout) }}
                </div>
                <div class="vic-col-md-6">
                    {{ form_row(form.hasContainer) }}
                </div>
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock form_static %}
