<div class="col-md-5ths col-lg-5ths">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_1', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-5ths col-lg-5ths">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_2', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-5ths col-lg-5ths">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_3', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-5ths col-lg-5ths">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_4', {'availableWidgets' : availableWidgets}) }}
</div>
<div class="col-md-5ths col-lg-5ths">
    {{ cms_slot_widgets(widget.childrenSlot ~ '_5', {'availableWidgets' : availableWidgets}) }}
</div>